.sidebar {
	line-height: 1.4;
	padding: 0.6rem 0.6rem;
}

.sidebar h1 {
	font-size: 35px;
}

.sidebar p {
	font-size: 20px;
}

.sidebar .bullet {
	font-size: 15px;
}

.sidebar .footnote {
	font-size: 15px;
}

.highlight {
	position: relative;
	border-radius: 4px;
}

@media (min-width: 768px) and (max-width: 1680px) {
	.sidebar img {
		margin-top: -2.7rem;
	}
	.sidebar .btn-light-dark {
		margin-right: -1rem;
	}
}

@media (min-width: 768px) {
	.footer-mobile {
		display: none;
	}
	.lead-mobile {
		display: none;
	}
}

@media (max-width: 768px) {
	.wrapper {
		min-height: 100vh;
	}
	.content {
		overflow-x: hidden;
	}
	.sidebar img {
		width: 120px;
		height: auto;
		margin-top: -3.5rem;
	}
	.sidebar h1 {
		font-size: 35px;
	}
	.sidebar .bullet {
		display: none;
	}
	.sidebar .sub-heading {
		display: none;
	}
	.sidebar .heading {
		display: inline;
		margin-right: 0.6rem;
		margin-left: 0.6rem;
		font-size: 18px;
	}
	.sidebar .social {
		display: none;
	}
	.sidebar .footnote {
		display: none;
	}
	.lead {
		display: none;
	}
	.lead-mobile {
		display: visible;
		font-size: 1.25rem;
		font-weight: 300;
		text-align: center;
		color: var(--sidebar-p-color);
	}
	.footer-mobile {
		text-align: center;
		justify-content: center;
		background-color: #202020;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
	.footer-mobile .social {
		font-size: 22px;
		margin-right: 0.35rem;
		margin-left: 0.35rem;
	}
	.footer-mobile .footnote {
		font-size: 12px;
	}
}
